*.o
Examples/test-suite/*/Makefile
CCache/Makefile
CCache/autom4te.cache/
CCache/ccache-swig
CCache/ccache_swig_config.h
CCache/config.h
CCache/config.log
CCache/config.status
CCache/configure
Examples/Makefile
Examples/guile/Makefile
Examples/xml/Makefile
Lib/ocaml/swigp4.ml
Makefile
Source/CParse/.deps/
Source/CParse/.dirstamp
Source/DOH/.deps/
Source/DOH/.dirstamp
Source/Include/stamp-h1
Source/Include/swigconfig.h
Source/Makefile
Source/Makefile.in
Source/Modules/.deps/
Source/Modules/.dirstamp
Source/Preprocessor/.deps/
Source/Preprocessor/.dirstamp
Source/Swig/.deps/
Source/Swig/.dirstamp
Source/eswig
Tools/config/compile
Tools/config/config.guess
Tools/config/config.sub
Tools/config/depcomp
Tools/config/install-sh
Tools/config/missing
Tools/config/ylwrap
aclocal.m4
autom4te.cache/
config.log
config.status
configure
preinst-swig
swig
swig.spec
